<div class="size">
    <div class="container w-50 mt-4">
        <form (ngSubmit)="findUser()"
        class="d-flex align-items-center justify-content-center mt-3"
        >
        <div class="form-group input-group">
           <input type="text" id="username" class="form-control" name="username"
           placeholder="Enter the UserName"
           [(ngModel)]="username">
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Find</button>
        </div>
       </form>
        <div *ngIf="error" class="alert alert-danger text-center mt-3"  role="alert">
            {{error}}
        </div>
      
    </div>
    <div class="container w-60 m-4 mb-5">
       <div *ngIf="user" class="row">
           <div class="col col-md-4">
               <app-profile [user]="user"></app-profile>
           </div>
           <div class="col col-md-8">
               <app-repos [repoUrl]="user.repos_url"></app-repos>
           </div>
       </div>
    </div>
</div>
